:root {
  /* Colors */
  --color-main: #ffffff;
  --color-text: #000000;
  --color-medium-text: #444444;
  --color-light-text: #999999;
  --color-border: #DDDDDD;
  --color-hover: #eaeaea;

  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
  font-family: "PT Sans Caption", serif;
  font-weight: 400;
  color: var(--color-text);
}

body {
  background: var(--color-main);
  margin: 0;

  overflow-y: scroll;
}

#app {
  font-size: 48px;

  max-width: 100%;
  margin: 0 auto;
}

p, h1, h2, h3 {
  margin: 0;
}