@import "./base.css";

/* HEADER */

.header {
  text-align: center;

  margin: 50px 0;
}

.header__h1 {
  font-weight: var(--font-weight-bold);
  font-size: 1em;
  font-family: PT Sans Caption;
  line-height: 68px;

  margin: 0;
  margin-top: 30px;
}

/* MAIN */

.main__form {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.form_input-excursion,
.form_input-city {
  display: flex;
  align-items: center;
  height: 100%;

  position: relative;
}

.input-excursion,
.input-city {
  border: 1px solid #00000026;
  border-radius: 1px;
  font-size: 0.33em;
  line-height: 21px;
  color: var(--color-text);

  padding: 14.5px 52px 14.5px 15px;
  width: 300px;
}

.input-excursion::placeholder,
.input-city::placeholder {
  color: var(--color-light-text);
}

.img-city,
.img-excursion {
  position: absolute;
  top: 15px;
  right: 15px;

  cursor: pointer;
}

.img-excursion {
  top: 21px;
  right: 21px;
}

.list-city {
  position: absolute;
  top: 57px;

  box-shadow: 0px 4px 30px 0px #0000001A;
  /* box-shadow: 0px 1px 3px 0px #0000000D; */
  font-size: 0.3em;
  list-style: none;
  border-radius: 1px 1px 5px 5px;

  padding: 0;
  margin: 0;
  width: 100%;
}

.list-city_item {
  color: var(--color-ul);
  line-height: 22px;

  padding: 12.5px 15px;
  transition: background 0.5s;

  cursor: pointer;
}

.list-city_item:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

/* ANIMATIONS */

.input-excursion:focus,
.input-city:focus {
  outline: none;
  border: 1px solid #00000081;

}

.list-city_item:hover {
  background: var(--color-hover);
}