@import "./base.css";

/* HEADER */

.header {
  text-align: center;

  margin: 50px 0;
}

.header__h1 {
  font-weight: var(--font-weight-bold);
  font-size: 1em;
  font-family: PT Sans Caption;
  line-height: 68px;

  margin-top: 30px;
}

/* MAIN */

.main__form {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.form_input-excursion,
.form_input-city {
  display: flex;
  align-items: center;
  height: 100%;

  position: relative;
}

.input-excursion,
.input-city {
  border: 1px solid #00000026;
  border-radius: 1px;
  font-size: 0.33em;
  line-height: 21px;
  color: var(--color-text);

  padding: 14.5px 52px 14.5px 15px;
  width: 300px;
}

.input-excursion::placeholder,
.input-city::placeholder {
  color: var(--color-light-text);
}

.img-city,
.img-excursion {
  position: absolute;
  top: 15px;
  right: 15px;

  cursor: pointer;
}

.img-excursion {
  top: 21px;
  right: 21px;
}

.list-city {
  position: absolute;
  top: 57px;

  box-shadow: 0px 4px 30px 0px #0000001A;
  /* box-shadow: 0px 1px 3px 0px #0000000D; */
  font-size: 0.3em;
  list-style: none;
  border-radius: 1px 1px 5px 5px;

  padding: 0;
  margin: 0;
  width: 100%;
}

.list-city_item {
  color: var(--color-medium-text);
  line-height: 22px;

  padding: 12.5px 15px;
  transition: background 0.5s;

  cursor: pointer;
}

.list-city_item:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

/* CARDS */

.main__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 345px));
  justify-content: center;
  gap: 50px;

  padding: 90px;
}

.cards_item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  cursor: pointer;
}

.cards_item_container-image {
  width: 100%
}

.cards_item-image {
  border-radius: 5px;
  max-width: 345px;
  height: 100%;
  object-fit: cover;
}

.description__raiting {
  display: flex;
  gap: 3px;
}

.avg_raiting {
  font-size: 0.3em;
  line-height: 22px;
  color: var(--color-medium-text)
}

.count_raiting {
  font-size: 0.25em;
  line-height: 22px;

  color: var(--color-light-text);
}

.description__title {
  font-size: 0.33em;
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  color: #23262F;
}

.description__price {
  display: flex;
  flex-direction: column;
}

.description__price_min {
  font-size: 0.46em;
  font-weight: var(--font-weight-bold);
  line-height: 32px;
  color: var(--color-medium-text);
}

.description__price_categories {
  font-size: 0.25em;
  line-height: 22px;
  color: var(--color-light-text);

}

/* ANIMATIONS */

.input-excursion:focus,
.input-city:focus {
  outline: none;
  border: 1px solid #00000081;

}

.list-city_item:hover {
  background: var(--color-hover);
}